* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --nav-background: #1992d4;
    --accent-color: #f0b429;
    --db-background: #e2e8f0;
}

body {
    font-family: 'Roboto',serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
}

.nav {
    background-color: var(--nav-background);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    color: white;
}

header {
    background-color: white;
}

nav ul {
    list-style: none;
}

.page-title {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.page-title span {
    font-size: 5rem;
    margin-right: 1rem;
}

h1 {
    font-size: 3rem;
}

.dashboard {
    background-color: var(--db-background);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    margin: 3rem 2rem 6rem;
}

.projects-grid {
    display: grid;
    grid-template: repeat(3, 19rem) / 1fr 1fr;
    gap: 4rem;
}

.project-card {
    background-color: white;
}

.news {
    margin: 3rem 3rem 6rem 0;
}

.announcements {
    background-color: white;
    height: 30rem;
}

.trending-heading {
    margin-top: 4.25rem;
}

.trending {
    background-color: white;
    height: 9.25rem;
}