* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --nav-background: #1992d4;
    --accent-color: #f0b429;
    --db-background: #e2e8f0;
}

body {
    font-family: 'Roboto',serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.container {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
}

.nav {
    background-color: var(--nav-background);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    color: white;
}

header {
    background-color: white;
    padding: 1.5rem 4rem;
}

nav {
    margin-top: 1.75rem;
}

nav ul {
    list-style: none;
    padding-left: 1.75rem;
    margin-bottom: 5rem;
}

.page-title {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.page-title span {
    font-size: 3rem;
    margin-right: 1rem;
}

h1 {
    font-size: 2rem;
}

nav ul li {
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

li span.material-symbols-outlined {
    font-weight: normal;
    font-size: 1.5rem;
    margin-right: 1.8rem;
}

.header-top {
    margin-bottom: 1.5rem;
}

.header-top,
.header-bot {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
}

.searchbar {
    margin-left: 1.5rem;
    background-color: var(--db-background);
    width: 50rem;
    height: 2rem;
    border-radius: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 2rem;
}

.prof-pic-small {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.profile .name {
    font-weight: bold;
    font-size: 1.2rem;
}

.greetings {
    display: flex;
    align-items: center;
}

.prof-pic-large {
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.greet-name {
    font-weight: bold;
    margin-left: 2rem;
}

.greet {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.greet-name .name {
    font-size: 1.75rem;
}

.buttons {
    display: flex;
    align-items: flex-end;
    gap: 3rem;
}

button {
    border: 0;
    color: white;
    padding: 0.75rem 0;
    width: 7rem;
    border-radius: 5rem;
    background-color: var(--nav-background);
    font-weight: bold;
}

.header-top .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    font-size: 1.75rem;
}

.dashboard {
    background-color: var(--db-background);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    margin: 1.5rem;
}

.projects-grid {
    display: grid;
    grid-template: repeat(3, 12rem) / 1fr 1fr;
    gap: 2rem;
}

.project-card {
    background-color: white;
    padding: 1rem 2rem;
    border-left: 5px solid var(--accent-color);
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card p {
    color: gray;
}

.project-options {
    float: right;
}

.project-options .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
    margin-left: 1rem;
}

.news {
    margin-right: 2rem;
}

.announcement-heading {
    margin-top: 2.745rem;
}

.announcements {
    background-color: white;
    min-height: 18rem;
}

.trending-heading {
    margin-top: 2.745rem;
}

.trending {
    background-color: white;
    min-height: 5.415rem;
}